@import '@/styles/variable';


.link{
    width: 100% !important;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    border-radius: 6px;
    transition: all ease 0.5s;
    h1{
        color: $primary;
        font-size: 1rem;
        font-weight: 400;
    }
}

.activeLink{
    background-color: $border-grey !important;
}