@import '@/styles/variable';

.validation{
    height: 0;
    opacity: 0;
    margin-top: 0.5rem;
    transition: all ease 0.5s;
    .validatorContainer{
        position: relative;
        overflow: hidden;
        display: block;
        margin: auto;
        width: 90%;
        height: 2px;
        border-radius: 8px;
        background-color: $light-grey;
        .validator{
            opacity: 0.6;
            position: absolute;
            border-radius: 8px;
            top: 0;
            right: 0;
            transition: all ease 0.5s;
            height: 8px;
        }
    }
    p{
        color: $icon-grey;
        margin: auto;
        text-align: center;
        font-size: 0.8rem;
    }
}
.showValidation{
    opacity: 1;
    height: 30px !important;
}