@import '../../../styles/variable';


.container{
    text-align: right;
    margin: auto;
    max-width: 550px;
    padding: 2rem;
}
.heading{
    font-weight: normal;
    color: $purple-dark;
    font-size: 2rem;
}
.info{
    font-size: 1.2rem;
    color: $icon-grey;
}