@import '@/styles/variable';

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    i{
        display: flex;
        border-radius: 100%;
        padding: 0.5rem;
        background-color: $light;
    }
    .inside{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}