@import '../styles/variable';


.container{
    background-color: #F5F4F8;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    gap: 10px;
    .sidebar{
        width: 20vw;
        max-width: 250px;
        background-color: $light;
    }
    
    .main{
        width: 100%;
    }
}
