$primary : #005734;
$secondary : #49574D;
$third : #E8A623;
$semi-light: #FDFFFF;
$light: #F8FCFB;
$dark: #020405;
$semi-dark: #7F8186;
$grey : #E4EFEB;
$extra-grey : #EDEDED;

$palette:
    'primary' $primary,
    'secondary' $secondary,
    'third' $third,
    'semi-light' $semi-light,
    'light' $light,
    'dark' $dark,
    'semi-dark' $semi-dark,
    'grey' $grey,
    'extra-grey' $extra-grey,
