$primary : #576AAF;
$secondary : #475975;
$third : #64C2CB;
$semi-light: #ECF3FF;
$light: #fff;
$dark: #020405;
$semi-dark: #7F8186;
$grey : #F5F5F5;
$extra-grey : #EDEDED;

$palette:
    'primary' $primary,
    'secondary' $secondary,
    'third' $third,
    'semi-light' $semi-light,
    'light' $light,
    'dark' $dark,
    'semi-dark' $semi-dark,
    'grey' $grey,
    'extra-grey' $extra-grey,